.path {
	fill: #f5dfa4;
}

div.tooltip { 
	position: absolute;     
	text-align: center;     
	width: 80px;          
	height: 14px;         
	padding: 2px;       
	font: 12px sans-serif;    
	background: #fff; 
	border: 0px;        
	pointer-events: none;     
}